
/* Reset cơ bản và màu nền hệ thống */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F5F7F9;
  color: #111827; /* gray-900 */
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Tiện ích ẩn thanh cuộn */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Đảm bảo root chiếm toàn màn hình */
#root {
  height: 100vh;
  width: 100vw;
}
